.container{
    text-align: center;
    margin-top:23px;
}
table{
    margin: auto;
}
input{
    border-radius: 30px;
    border: 6px solid rgb(59, 60, 59);
    font-size:34px;
    height: 65px;
    width: 456px;
}
button{
    border-radius: 30px;
    font-size: 40px;
    background: #748b9f;
    width: 100px;
    height: 80px;
    margin: 3px;


}
.calculator{
    border: 4px solid #10201e;
    background-color: #4c5253;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
  
}
h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}